////
/// @group Components
////

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn-contact {
  font-size: 13px;
  line-height: 28px;
  margin: 10px 0px 20px;
  clear: both;
  .btn-contain > & {
    margin: 0px;
  }
  span {
    border-left: 1px solid #ccc;
    bont-size: 16px;
    line-height: 28px;
    margin-left: 12px;
    padding: 6px 0 8px 16px;
  }
  &.vivid {
    &:hover {
      background-color: lighten(#6897e5, 10%);
      border-color: lighten(#6897e5, 10%);
    }
  }
}
