.pa-hero {
  color: #545454;
  &__bg {
    min-height: 400px;
  }
  &__content-inner {
    max-width: 30em;
  }
  &__content {
    position: relative;
    padding: $space-double 0rem;
    padding: 12% 10% 12%;
    font-size: 16px;
    line-height: 24px;
  }
  &__title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    color: #545454;
  }
  &--white {
    color: white;
    .pa-hero {
      &__title {
        color: white;
      }
    }
  }
  &--black {
    color: #000;
    .pa-hero {
      &__title {
        color: #000;
      }
    }
  }
  &--navy {
    color: navy;
    .pa-hero {
      &__title {
        color: navy;
      }
    }
  }
  &--blue {
    color: blue;
    .pa-hero {
      &__title {
        color: blue;
      }
    }
  }
  &--red {
    color: red;
    .pa-hero {
      &__title {
        color: red;
      }
    }
  }
  &--yellow {
    color: yellow;
    .pa-hero {
      &__title {
        color: yellow;
      }
    }
  }
  &--green {
    color: green;
    .pa-hero {
      &__title {
        color: green;
      }
    }
  }
  .btn-contain {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1023px) {
    &__title {
      font-size: 36px;
      line-height: 43px;
    }
  }
}