.pa-hero {
  color: #545454;
  &__bg {
    min-height: 400px;
  }
  &__content-inner {
    max-width: 30em;
  }
  &__content {
    position: relative;
    padding: $space-double 0rem;
    padding: 12% 10% 12%;
    max-width: 45em;
    font-size: 16px;
    line-height: 24px;
  }
  &__title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    color: #545454;
  }
  &--light {
    color: $white;
    .pa-hero {
      &__title {
        color: $white;
      }
    }
  }
  .btn-contain {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1023px) {
    &__title {
      font-size: 36px;
      line-height: 43px;
    }
  }
}