.page-template-pulsair-corporate {
  #content {
    padding: 0;
  }
}


h1.page-title--custom {
  font-size: 28px;
  line-height: 35px;
  color: #545454;
  @media only screen and (max-width: 767px) {
      padding-bottom: 10px;
  }
  @media only screen and (max-width: 1023px) {
      font-size: 22px;
      line-height: 30px;
  }
}

.feature-content {
  &--grid {
    padding: 0px;
    &:hover {
      //margin: 0px;
      //box-shadow: none;
    }
  }
}
.our_feature {
  .feature-icon {
    &.feature-image {
      width: 100%;
      border-radius: 0px;
      padding: 0px;
      display: block;
      overflow:hidden;
      height: auto;
      box-sizing: border-box;
      margin: 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.feature {
  &__figure {
    padding-top: 80%;
  }
  &__caption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before,
    &:after {
      pointer-events: none;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      content: '';
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
    }
    &:before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(0,1);
    }
    &:after {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: scale(1,0);
    }
  }
  &__title {
    margin: 0;
    padding-top: 20%;
    padding-bottom: 10px;
    transition: transform 0.35s;
    transform: translate3d(0,-20px,0);
    color: $white;
    .our_feature & {
      font-weight: bold;
    }
  }
  &__subtitle {
    margin: 0;
    padding: 0px .5em 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,20px,0);
    color: $white;
    text-transform: none;
  }
  &__more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }
  &:hover {
    .feature {
      &__title {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      &__subtitle {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      &__caption {
        &:before,
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    img {
      opacity: 0.6;
    }
  }
}

// from old settings

//.page-template-pulsair-corporate #content {
//  padding: 0;
//}
//}
//
//h1.page-title--custom {
//  font-size: 28px;
//  line-height: 35px;
//  color: #545454;
//}
//@media only screen and (max-width: 767px) {
//  h1.page-title--custom {
//    padding-bottom: 10px;
//  }
//}
//@media only screen and (max-width: 1023px) {
//  h1.page-title--custom {
//    font-size: 22px;
//    line-height: 30px;
//  }
//}


//
//.navigation {
//  width: 100%;
//  border-bottom: 1px solid #ccc;
//  background: #fff;
//  height: 50px; }
//
//.navigation__inner {
//  display: -ms-flexbox;
//  display: flex;
//  max-width: 900px;
//  height: 50px;
//  margin: 0 auto;
//  position: relative;
//  overflow: hidden;
//  background: #fff;
//}
//
//.toggle:checked ~ .navigation__inner {
//  height: auto; }
//
//.navigation__link {
//  display: block;
//  padding: 0 20px;
//  font-size: 14px;
//  line-height: 50px;
//  text-decoration: none;
//  color: #000;
//  cursor: pointer; }
//
//.navigation__link:hover {
//  text-decoration: underline; }
//
//.navigation__logo {
//  -ms-flex-negative: 0;
//  flex-shrink: 0;
//  -ms-flex-item-align: start;
//  align-self: flex-start;
//  border-left: 1px solid #ccc; }
//
//.navigation__logo .navigation__link {
//  font-weight: bold; }
//
//.navigation__list {
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-wrap: wrap;
//  flex-wrap: wrap;
//  margin: 0;
//  padding: 0;
//  list-style: none;
//  background: #fff;
//  border: 1px solid #ccc;
//  border-top: 0;
//  border-right: 0;
//  background: #fff;
//  z-index: 1000;
//  position: relative;}
//
//@media screen and (max-width: 400px) {
//  .navigation__item {
//    -ms-flex-preferred-size: 100%;
//    flex-basis: 100%; } }
//
//.navigation__toggle {
//  -ms-flex-negative: 0;
//  flex-shrink: 0;
//  background: #fff;
//  border-right: 1px solid #ccc;
//  border-bottom: 1px solid #ccc; }
//
//.navigation__toggle .navigation__link {
//  position: relative;
//  padding-right: 50px; }
//
//.navigation__toggle .navigation__link:after {
//  content: '';
//  position: absolute;
//  top: 22px;
//  right: 20px;
//  width: 0;
//  height: 0;
//  border-style: solid;
//  border-width: 5px 5px 0 5px;
//  border-color: #000 transparent transparent transparent; }
//
//.toggle:checked ~ .navigation .navigation__toggle .navigation__link:after {
//  border-width: 0 5px 5px 5px;
//  border-color: transparent transparent #000 transparent; }
//
//.toggle {
//  position: absolute;
//  z-index: -1;
//  opacity: 0; }