////
/// @group Components
////

/*------------------------------------*\
	$MEDIA
\*------------------------------------*/

.img-fit {
  position: relative;
  background-color: $brand__two;
  &.compat-object-fit {
    background-size: cover;
    background-position: center center;
    img {
      opacity: 0;
      display: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //z-index: -1; removed on home page hero / panels
  }
}