////
/// @group Base
////

/*------------------------------------*\
	$MEDIA
\*------------------------------------*/

/* Flexible Media */
img,
video,
object,
.wp-caption {
	max-width: 100%;
	height: auto;
}

//.puls-video,
//.flexslider,
//video,
//img,
//.background-image {
//	@include fade-in;
//}

embed,
iframe,
object,
video,
.puls-video {
	max-width: 100%;
	margin-bottom: $space;
}

//figure {
//	margin-bottom: $space;
//	&.fixedratio {
//		margin: 0;
//		background-position: center;
//		background-size: cover;
//	}
//}
//
//figcaption {
//	font-style: italic;
//}

//.puls-video {
//	@include box-shadow(sm-med);
//
//	margin: $space 0rem;
//	border: $border__med solid $white;
//	border-radius: ($border__med * 0.5);
//	.puls-modal & {
//		margin: 0rem;
//	}
//}
